:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    224,216,240;
--color-neutral-200:    181,162,218;
--color-neutral-300:    138,107,196;
--color-neutral-400:    98,65,162;
--color-neutral-500:    65,43,107;
--color-neutral-600:    47,31,78;
--color-neutral-700:    30,20,49;
--color-neutral-800:    12,8,20;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    235,213,234;
--color-primary-300:    210,161,208;
--color-primary-400:    185,110,182;
--color-primary-500:    147,71,144;
--color-primary-600:    119,58,117;
--color-primary-700:    92,44,90;
--color-primary-800:    64,31,63;
--color-primary-900:    37,18,36;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    254,241,236;
--color-secondary-300:    250,191,163;
--color-secondary-400:    246,140,91;
--color-secondary-500:    242,89,18;
--color-secondary-600:    208,74,11;
--color-secondary-700:    169,60,9;
--color-secondary-800:    130,46,7;
--color-secondary-900:    92,33,5;
}