:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     232,206,255;
--color-neutral-100:    197,129,255;
--color-neutral-200:    162,53,255;
--color-neutral-300:    124,0,231;
--color-neutral-400:    83,0,155;
--color-neutral-500:    42,0,78;
--color-neutral-600:    20,0,37;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    255,255,255;
--color-primary-500:    232,241,245;
--color-primary-600:    204,224,233;
--color-primary-700:    175,206,220;
--color-primary-800:    147,189,208;
--color-primary-900:    118,172,196;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,248,245;
--color-secondary-400:    255,198,169;
--color-secondary-500:    255,147,92;
--color-secondary-600:    255,120,51;
--color-secondary-700:    255,93,10;
--color-secondary-800:    225,76,0;
--color-secondary-900:    184,62,0;
}